@page "/about"
<PageTitle>About</PageTitle>

<Blazorise.Div Style="padding: 25px;">
    <h1>About</h1>
    <h2>What can Chat GPT do?</h2>
    <p style="margin-left: 30px;">This is a simple Blazor web app that is an example of how you can interact with ChatGPT</p>
    <p style="font-size: 0.7em;">@buildInfo</p>
</Blazorise.Div>
