@page "/"
<PageTitle>Lyle's Blazin' ChatGPT Example</PageTitle>

<div style="padding: 30px;">
    <p><a class="btn btn-primary wideButton" @onclick='(() => GoToPage("SimpleChat"))'><Icon Name="IconName.Pen" Class="WhiteIcon" /> Talk to Chat-GPT</a></p>
    <p><a class="btn btn-primary wideButton" @onclick='(() => GoToPage("DallE"))'><Icon Name="IconName.Palette" Class="WhiteIcon" /> Create some DallE Images</a></p>
    @*<AuthorizeView Roles="Admin">
        <p><a class="btn btn-primary" @onclick='(() => GoToPage("Admin"))'><Icon Name="IconName.Key" Class="WhiteIcon" /> Admin Page</a></p>
    </AuthorizeView>*@
</div>
