@page "/"
<PageTitle>Lyle's Blazin' ChatGPT Example</PageTitle>

<div style="padding: 30px;">
    <a class="btn btn-primary" href="/Chat"><Icon Name="IconName.Pen" Class="WhiteIcon" /> Talk to Chat-GPT</a>
    <br />
    <br />
    <a class="btn btn-primary" href="/DallE"><Icon Name="IconName.Palette" Class="WhiteIcon" /> Create some DallE Images</a>
</div>
